--USE [UKZNISTN3ISTest]

CREATE TABLE [dbo].[Order_Item](
	[Order_Item_ID] [int] IDENTITY(400,1) NOT NULL,
	[Order_ID] [int] NULL,
	[Stock_ID] [int] NULL,
	[Item_Quantity] [int] NULL,
	PRIMARY KEY CLUSTERED(Order_Item_ID));

SET IDENTITY_INSERT [dbo].[Order_Item] ON 

INSERT [dbo].[Order_Item] ([Order_Item_ID], [Order_ID], [Stock_ID], [Item_Quantity]) VALUES (401, 1, 105, 2)
INSERT [dbo].[Order_Item] ([Order_Item_ID], [Order_ID], [Stock_ID], [Item_Quantity]) VALUES (402, 1, 101, 1)
INSERT [dbo].[Order_Item] ([Order_Item_ID], [Order_ID], [Stock_ID], [Item_Quantity]) VALUES (403, 2, 101, 5)
GO
