--USE [UKZNISTN3ISTest]

CREATE TABLE [dbo].[Payment](
	[Payment_ID] [int] IDENTITY(200,1) NOT NULL,
	[Order_ID] [int] NULL,
	[Staff_ID] [int] NULL,
	[Payment_Type] [int] NULL,
	[Payment_Amount] [decimal](18, 2) NULL,
	[Payment_DateTime] [datetime] NULL,
	PRIMARY KEY CLUSTERED(Payment_ID));

SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([Payment_ID], [Order_ID], [Staff_ID], [Payment_Type], [Payment_Amount], [Payment_DateTime]) VALUES (200, 1, 1003, 0, CAST(212.75 AS Decimal(18, 2)), CAST(N'2022-09-05 15:26:35.310' AS DateTime))
INSERT [dbo].[Payment] ([Payment_ID], [Order_ID], [Staff_ID], [Payment_Type], [Payment_Amount], [Payment_DateTime]) VALUES (201, 3, 1003, 0, CAST(193.20 AS Decimal(18, 2)), CAST(N'2022-09-06 15:16:31.557' AS DateTime))
INSERT [dbo].[Payment] ([Payment_ID], [Order_ID], [Staff_ID], [Payment_Type], [Payment_Amount], [Payment_DateTime]) VALUES (202, 4, 1003, 0, CAST(508.30 AS Decimal(18, 2)), CAST(N'2022-09-06 15:39:02.543' AS DateTime))

