--USE [UKZNISTN3ISTest]

CREATE TABLE [dbo].[tblOrder](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cust_ID] [int] NULL,
	[Staff_ID] [int] NULL,
	[Payment_ID] [int] NULL,
	[Order_Status] [int] NULL,
	[Date_Time] [datetime] NULL,
	[Order_Amount] [decimal](18, 2) NULL,
	[Order_Payment] [decimal](18, 2) NULL,
	PRIMARY KEY CLUSTERED(Order_ID));

SET IDENTITY_INSERT [dbo].[tblOrder] ON 

INSERT [dbo].[tblOrder] ([Order_ID], [Cust_ID], [Staff_ID], [Payment_ID], [Order_Status], [Date_Time], [Order_Amount], [Order_Payment]) VALUES (1, NULL, 1003, 200, 2, CAST(N'2022-09-05 15:26:22.000' AS DateTime), CAST(212.75 AS Decimal(18, 2)), NULL)
INSERT [dbo].[tblOrder] ([Order_ID], [Cust_ID], [Staff_ID], [Payment_ID], [Order_Status], [Date_Time], [Order_Amount], [Order_Payment]) VALUES (2, NULL, 1003, NULL, 0, CAST(N'2022-09-06 15:13:50.567' AS DateTime), CAST(943.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[tblOrder] ([Order_ID], [Cust_ID], [Staff_ID], [Payment_ID], [Order_Status], [Date_Time], [Order_Amount], [Order_Payment]) VALUES (3, NULL, 1003, 201, 2, CAST(N'2022-09-06 15:16:18.077' AS DateTime), CAST(193.20 AS Decimal(18, 2)), NULL)
